@model object

<ul class="report-chart-controls" id="AnalyticsReportChartControls"></ul>
<div>
    <canvas id="AnalyticsReportsChart"></canvas>
</div>    

<script src="/Scripts/Analytics/Plugins/date_fs.min.js"></script>
<script src="/Scripts/Analytics/Plugins/chart.min.js"></script>
<script src="/Scripts/Analytics/Plugins/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="/Scripts/Analytics/GoogleAnalytics.js"></script>


