@model GoogleAnalyticsClient.Mode.AnalyticsReportModel

@section styles {
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="/Content/AnalyticsReport.css">
    <link rel="stylesheet" href="/Content/DateRangePicker.css">
}
<div class="container">
    <div class="row">
        <div class="d-flex align-items-center">
            <h3>Estadisticas Generales</h3>
            <div class="d-flex align-items-center ml-auto">
                <div class="date-range-picker" id="AnalyticsReportsDateRangePicker"></div>
                <button id="AnalyticsReportDownload" title="Descargar Reporte">
                    <span class="material-icons">cloud_download</span>
                </button>            
            </div>
        </div>
        <div class="col-xs-12">
            @Html.Partial("_AnalyticsReportsChart");
        </div>
        <h3>Vista detallada</h3>
        <div class="col-xs-12">
            <div id="AnalyticsReportTableContainer">
            </div>
        </div>
    </div>
</div>
@section scripts
{
<script src="/Scripts/Analytics/Plugins/dateRangePicker.js"></script>
}
